body {
  background-color: plum;
  margin: 0;
}

nav {
  /* border: 1px solid black; */
  font-size: 25px;
  background-color: white(250, 245, 245);
  width: 100%;
  margin: 40;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
}
nav ul li a {
  color: black;
  font-size: 35px;
  font-weight: 200;
  text-decoration: underline;
  margin: 40;
}

main {
  text-align: center;
  font-size: 35px;
  margin-top: 30px;
  text-align: center;
  /* border: 1px solid black */
}

h1 {
  font-size: 35px;
  margin-top: 30px;
  text-align: center;
  /* border: 1px solid black */
}

h2 {
  font-size: 30px;
  margin: 20px;
  text-align: center;
  /* border: 1px solid black */
}

h3 {
  font-size: 30px;
  margin: 30px;
  text-align: center;
  /* border: 1px solid black */
}

.home .description {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 600px;
  word-wrap: break-word;
}

.home img {
  width: 520px;
  border: 5px solid white;
  border-radius: 10px;
}

.projects ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid black; */
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.projects li {
  text-align: left;
  width: 300px;
  border: 10px solid white;
  border-radius: 10px;
}

.interests p {
  font-size: 25px;
}
.image {
  display: flex;
  flex-flow: row wrap;
  width: 500px;
  /* border: 2px solid black; */
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-shrink: 5;
  clear: both;
}
